// variables.scss

$spacing-1:  clamp(4px, 0.208vw, 8px);    // 4px
$spacing-2:  clamp(8px, 0.417vw, 16px);   // 8px
$spacing-3:  clamp(12px, 0.625vw, 24px);  // 12px
$spacing-4:  clamp(16px, 0.833vw, 32px);  // 16px
$spacing-5:  clamp(20px, 1.041vw, 40px);  // 20px
$spacing-6:  clamp(24px, 1.25vw, 48px);   // 24px
$spacing-7:  clamp(28px, 1.458vw, 56px);  // 28px
$spacing-8:  clamp(32px, 1.667vw, 64px);  // 32px
$spacing-8h:  clamp(32px, 2.962vh, 64px);  // 32px h
$spacing-9:  clamp(36px, 1.875vw, 72px);  // 36px
$spacing-9h: clamp(36px, 3.333vh, 72px);  // 36px h
$spacing-10: clamp(40px, 2.083vw, 80px);  // 40px
$spacing-11: clamp(44px, 2.292vw, 88px);  // 44px
$spacing-12: clamp(48px, 2.5vw, 96px);    // 48px
$spacing-13: clamp(52px, 2.708vw, 104px); // 52px
$spacing-14: clamp(56px, 2.917vw, 112px); // 56px
$spacing-14h: clamp(56px, 5.185vh, 112px); // 56px h


$spacing-38:  clamp(38px, 1.979vw, 76px);
$spacing-54: clamp(54px, 2.812vw, 108px);
$spacing-72: clamp(72px, 3.75vw, 144px);
$spacing-144: clamp(144px, 7.5vw, 288px);
$spacing-256: clamp(256px, 13.333vw, 512px);
$spacing-384: clamp(384px, 20vw, 768px);
$spacing-600: clamp(600px, 31.25vw, 1200px);
$spacing-beam: clamp(200px, 10.416vw, 400px);
$spacing-border: clamp(6px, 0.312vw, 12px);
$spacing-filter: clamp(10px, 0.520vw, 20px);

$spacing-1216: clamp(1216px, 63.333vw, 2432px);
$spacing-1280: clamp(1280px, 66.666vw, 2560px);
$spacing-1600: clamp(1600px, 83.333vw, 3200px);



$font-12: clamp(12px, 0.625vw, 24px); // 12px
$font-14: clamp(14px, 0.729vw, 28px); // 14px
$font-16: clamp(16px, 0.833vw, 32px); // 16px
$font-24: clamp(24px, 1.25vw, 48px); // 24px
$font-36: clamp(36px, 1.875vw, 72px); // 36px
$font-hero: clamp(98px, 5.104vw, 196px);
$font-intro: clamp(20px, 1.041vw, 40px);

$regular: 400;
$medium: 500;
$bold: 700;

$beam-radius:  clamp(200px, 10.416vw, 400px);






//---------------------------------------

//// SPACING
//$spacing-1: clamp(0.25rem, 0.013vw, 0.5rem);    // 4px
//$spacing-2: clamp(0.5rem, 0.026vw, 1rem);       // 8px
//$spacing-3: clamp(0.75rem, 0.039vw, 1.5rem);    // 12px
//$spacing-4: clamp(1rem, 0.052vw, 2rem);         // 16px
//$spacing-5: clamp(1.25rem, 0.065vw, 2.5rem);    // 20px
//$spacing-6: clamp(1.5rem, 0.078vw, 3rem);       // 24px
//$spacing-7: clamp(1.75rem, 0.091vw, 3.5rem);    // 28px
//$spacing-8: clamp(2rem, 0.104vw, 4rem);         // 32px
//$spacing-9: clamp(2.25rem, 0.117vw, 4.5rem);    // 36px
//$spacing-10: clamp(2.5rem, 0.130vw, 5rem);      // 40px
//$spacing-11: clamp(2.75rem, 0.143vw, 5.5rem);   // 44px
//$spacing-12: clamp(3rem, 0.156vw, 6rem);        // 48px
//$spacing-13: clamp(3.25rem, 0.169vw, 6.5rem);   // 52px
//$spacing-14: clamp(3.5rem, 0.182vw, 7rem);      // 56px
//
//$spacing-14h: clamp(3.5rem, 5.185vh, 7rem);     // 56px, высота header
//
//$spacing-72: clamp(4.5rem, 3.75vw, 9rem);       // 72px
//$spacing-1280: clamp(80rem, 66.666vw, 160rem);  // 1280px
//$spacing-1600: clamp(100rem, 83.333vw, 200rem); // 1600px
//
//// FONTS
//$font-small: clamp(0.75rem, 0.039vw, 1.5rem);   // 12px
//$font-base: clamp(0.875rem, 0.045vw, 1.75rem);  // 14px
//$font-medium: clamp(1.5rem, 0.078vw, 3rem);     // 24px
//$font-large: clamp(2.25rem, 0.117vw, 4.5rem);   // 36px
//$font-hero: clamp(6.125rem, 5.104vw, 12.25rem); // 98px
