// variables.scss

/* SCALE */
$fluid-0:  clamp(2px, 0.104vw, 4px);    // 4px
$fluid-1:  clamp(4px, 0.208vw, 8px);    // 4px
$fluid-2:  clamp(8px, 0.417vw, 16px);   // 8px
$fluid-3:  clamp(12px, 0.625vw, 24px);  // 12px
$fluid-4:  clamp(16px, 0.833vw, 32px);  // 16px
$fluid-5:  clamp(20px, 1.041vw, 40px);  // 20px
$fluid-6:  clamp(24px, 1.25vw, 48px);   // 24px
$fluid-7:  clamp(28px, 1.458vw, 56px);  // 28px
$fluid-8:  clamp(32px, 1.667vw, 64px);  // 32px
$fluid-9:  clamp(36px, 1.875vw, 72px);  // 36px
$fluid-10: clamp(40px, 2.083vw, 80px);  // 40px
$fluid-11: clamp(44px, 2.292vw, 88px);  // 44px
$fluid-12: clamp(48px, 2.5vw, 96px);    // 48px
$fluid-13: clamp(52px, 2.708vw, 104px); // 52px
$fluid-14: clamp(56px, 2.917vw, 112px); // 56px
$fluid-15: clamp(60px, 3.125vw, 120px); // 60px

$fluid-8h: clamp(32px, 2.962vh, 64px);  // 32px h
$fluid-9h: clamp(36px, 3.333vh, 72px);  // 36px h
$fluid-14h: clamp(56px, 5.185vh, 112px); // 56px h


/* FONT SCALE */
$font-12: clamp(12px, 0.625vw, 24px); // 12px
$font-14: clamp(14px, 0.729vw, 28px); // 14px
$font-16: clamp(16px, 0.833vw, 32px); // 16px
$font-24: clamp(24px, 1.25vw, 48px); // 24px
$font-36: clamp(36px, 1.875vw, 72px); // 36px
$font-hero: clamp(98px, 5.104vw, 196px); // 98px
$font-intro: clamp(20px, 1.041vw, 40px); // 20px

/* WEIGHTS */
$regular: 400;
$medium: 500;
$bold: 700;

/* SEMANTIC */
$welcome-preview-width: clamp(1216px, 63.333vw, 2432px);
$welcome-content-width: clamp(1280px, 66.666vw, 2560px);
$headerWelcome-content-width: clamp(1600px, 83.333vw, 3200px);
$welcome-gradient-height: clamp(600px, 55.555vh, 1200px);
$welcome-offset: clamp(144px, 7.5vw, 288px);
$welcome-gap: clamp(72px, 3.75vw, 144px);
$beam-radius:  clamp(200px, 10.416vw, 400px);
$beam-radius-height:  clamp(200px, 18.518vh, 400px);

$sem-fluid-5:  clamp(5px, 0.260vw, 10px);
$sem-fluid-6: clamp(6px, 0.312vw, 12px);
$task-input-width: clamp(250px, 13vw, 500px);

$task-btn-padding-width: clamp(11px, 0.572vw, 22px);

$card-width: clamp(19rem, 15.833vw, 38rem);
$card-height: clamp(160px, 14.814vh, 320px);
$card-bar-height: clamp(6px, 0.555vh, 12px);
$card-name-margin: clamp(18px, 0.937vw, 36px);
$card-pencil-padding: clamp(22px, 1.145vw, 44px);

$popover-width-filter: clamp(200px, 10.416vw, 400px);
$popover-width-view: clamp(150px, 7.912vw, 300px);
$popover-width-sort: clamp(128px, 6.666vw, 256px);

$sidebar-width: clamp(256px, 13.333vw, 512px);
$todolist-input-width: clamp(384px, 20vw, 768px);
$todolist-main-padding: clamp(38px, 1.979vw, 76px);

$tasks-list-min-height: clamp(540px, 28.125vw, 1080px);
$task-list-min-width: clamp(1053px, 54.843vw, 2106px);
$task-number-width: clamp(155px, 8.072vw, 310px);
$task-title-width: clamp(530px, 27.604vw, 1060px);
$task-date-width: clamp(206px, 10.729vw, 412px);
$task-status-width: clamp(161px, 8.385vw, 322px);
$task-status-space: clamp(89px, 4.635vw, 178px);
$task-priority-width: clamp(188px, 9.791vw, 376px);


$input-radius: clamp(6px, 0.312vw, 12px);
$icon-size-11: clamp(11px, 0.572vw, 22px);
$icon-size-12: clamp(12px, 0.625vw, 24px);
$icon-size-14: clamp(14px, 0.728vw, 28px);
$icon-size-38: clamp(38px, 1.979vw, 76px);
$filter-gap: clamp(10px, 0.520vw, 20px);









