@use '@/app/styles/variables' as *;

.form{
  display: flex;
  flex-direction: column;
  width: $todolist-input-width;
}

.wrapperIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--foreground);
  gap: $fluid-2;
}

.intro, .hintIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro{
  font-size: $fluid-5;
  gap: $fluid-4;
}
.hintIntro {
  color: var(--muted-foreground);
  font-size: $font-14;
  gap: $fluid-2;
}


.logo {
  width: $icon-size-38;
  height: auto;
}

.wrapperInputs{
  display: flex;
  flex-direction: column;
  gap: $fluid-7;
  width: 100%;
  margin-top: $fluid-5;
}


.field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $fluid-2;
  color: var(--foreground);
  font-size: $font-14;
}


.hintPasswordText{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.link{
  color: var(--foreground);
  text-decoration: none;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 0.7;
  }
  &:visited {
    color: var(--muted-foreground);
  }
}


.inputWrapper .input {
  padding-right: $fluid-10;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}


.showPassword {
  position: absolute;
  right: $fluid-3;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  color: var(--muted-foreground);
}

.label {
  color: var(--foreground);
}
.errorMessage {
  color: var(--destructive);
}


.wrapperButton{
  font-size: $font-14;
  display: flex;
  flex-direction: column;
  gap: $fluid-4;
  margin-top: $fluid-7;
}

.loginBtn{
  border-radius: $input-radius;
  width: 100%;
}

.hintBtn{
  color: var(--muted-foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $fluid-2;
}
.linkAccount {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: inherit;
}