@use '@/app/styles/variables' as *;


.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  border-radius: $fluid-2;

  gap: $fluid-2;
  padding: $fluid-2 $fluid-4;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}


.sm {
  height: $fluid-8;
  font-size: $font-12;
  font-weight: $medium;
}

.md {
  height: $fluid-9;
  font-size: $font-14;
  font-weight: $medium;
}

.textsm {font-size: $font-12;}
.textmd {font-size: $font-14;}


.none {
  background: transparent;
  border: none;
  color: inherit;
}
.primary {
  color: var(--primary-foreground);
  background-color: var(--primary);
  border: none;
  &:hover {
    background-color: var(--primary-hover);
  }
}
.secondary {
  color: var(--foreground);
  background: transparent;
  border: 1px solid var(--border);
  &:hover {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }
}
.solid {
  color: var(--foreground);
  background-color: var(--input);
  border: 1px solid var(--border);
  &:hover {
    background-color: var(--input-hover);
    color: var(--accent-foreground);
  }
}
.dashed {
  gap: $sem-fluid-5;
  padding: $fluid-2 $task-btn-padding-width;
  color: var(--foreground);
  background-color: var(--input);
  border: 1px dashed var(--border);
  &:hover {
    background-color: var(--input-hover);
    color: var(--accent-foreground);
  }
}
.view {
  gap: $sem-fluid-5;
  padding: $fluid-2 $task-btn-padding-width;
  color: var(--foreground);
  background-color: var(--input);
  border: 1px solid var(--border);
  &:hover {
    background-color: var(--input-hover);
    color: var(--accent-foreground);
  }
}

.addTask {
  padding: $fluid-2 $fluid-3;
  color: var(--primary-foreground);
  background-color: var(--primary);
  border: none;
  &:hover {
    background-color: var(--primary-hover);
  }
}

.sort{
  gap: $sem-fluid-5;
  padding: $fluid-2 $task-btn-padding-width;
  color: var(--foreground);
  background-color: transparent;

  &:hover {
    color: var(--accent-foreground);
    border: none;
    background-color: var(--accent);
  }
}