@use '@/app/styles/variables' as *;



.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  border-radius: $spacing-2;
  border: 1px solid transparent;

  padding: $spacing-2 $spacing-4;
  text-decoration: none;
  cursor: pointer;

  transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}


.sm {
  height: $spacing-8h;
}
.md {
  height: $spacing-9h;
}


.none {
  background: transparent;
  border: none;
  color: inherit;
}
.primary {
  color: var(--primary-foreground);
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-hover);
  }
}
.secondary {
  color: var(--foreground);
  background: transparent;
  border: 1px solid var(--border);

  &:hover {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }
}
.solid {
  color: var(--foreground);
  background-color: var(--input);
  border: 1px solid var(--border);

  &:hover {
    background-color: var(--input-hover);
    color: var(--accent-foreground);
  }
}
.dashed {
  color: var(--foreground);
  background-color: var(--input);
  border: 1px dashed var(--border);

  &:hover {
    background-color: var(--input-hover);
    color: var(--accent-foreground);
  }
}
