@use '@/app/styles/variables' as *;

.input {
  outline: none;
  font-size: $font-14;
  width: 100%;
  height: $spacing-9h;
  padding: 0 $spacing-4;
  color: var(--foreground);
  background-color: var(--input);
  border: 1px solid var(--border);
  border-radius: $input-radius;


  &:focus-visible {
    box-shadow: 0 0 0 2px var(--sidebar-border);
  }
}


.sm {height: $spacing-8h; font-weight: $regular;}
.md {height: $spacing-9h; font-weight: $medium;}

.textsm{font-size: $font-14;font-weight: $regular;}
.textmd{font-size: $font-16;font-weight: $medium;}

.noBorder {
  border: none;
  &:focus-visible {
    box-shadow: 0 0 0 2px transparent;
    background-color: transparent;
  }
}