@use '@/app/styles/variables' as *;

.sm{
  font-weight: $regular;
  font-size: $font-14;

}
.md{
  font-weight: $medium;
  font-size: $font-16;

}

.input{
  max-width: 80%;
  outline: none;
  width: 100%;
  height: auto;
  padding: 0 ;
  color: var(--primary-foreground);
  background-color: var(--card);
  &:focus{
    color: var(--chart-1);
  }
}


.spanWrapper{
  position: relative;
  display: block;
  max-width: 80%;
  padding-right: $spacing-5;
}
.spanWrapper:has(.iconButton:hover) .span {
  color: var(--chart-1);
}

.span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: background-color 0.2s ease, color 0.2s ease, opacity 0.1s ease;
  &:hover{
    color: var(--chart-1);
  }
}

.iconButton {
  color: var(--chart-1);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.spanWrapper:hover .iconButton {
  opacity: 1;
  color: var(--chart-1);
  pointer-events: auto;
}



.error {
  color: var(--destructive);
  animation: shake 0.3s ease;
}
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-4px); }
  40% { transform: translateX(4px); }
  60% { transform: translateX(-4px); }
  80% { transform: translateX(4px); }
  100% { transform: translateX(0); }
}

