@use '@/app/styles/variables' as *;

.badge {
  display: inline-flex;
  align-items: center;
  gap: $spacing-1;

  overflow: hidden;

  padding: $spacing-0 $task-stats-dot;

  border: 1px solid var(--border);
  border-radius: $spacing-6;

  color: var(--muted-foreground);
  background: transparent;

  white-space: nowrap;

  font-size: $font-12;
  font-weight: $medium;

  cursor: pointer;

  transition:

          background-color 0.2s ease,
          border-color 0.2s ease,
          color 0.2s ease,
          width 0.1s ease;

  &:hover {
    background: var(--accent);
  }

  svg,
  img {
    width: $icon-size-12;
    height: $icon-size-12;

    flex-shrink: 0;
  }
}




.process {
  width: calc($spacing-14 + 2.063rem);

  svg {
    animation: rotate 1s ease;
  }
}

.done {
  width: calc($spacing-14 + 0.125rem);

  svg,
  img {
    width: $icon-size-11;
    height: $icon-size-11;

    animation: doneAppear 0.35s ease;
  }
}





.high svg {
  color: var(--destructive);
}

.medium svg {
  color: var(--primary);
}

.low svg {
  color: var(--complated);
}

.urgently svg {
  color: var(--urgently);
}

.later svg {
  color: var(--primary-foreground);
}








@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

@keyframes doneAppear {
  0% {opacity: 0;transform: scale(0.7);}
  70% {transform: scale(1.08);}
  100% {opacity: 1;transform: scale(1);}
}



