@use '@/app/styles/variables' as *;

.icon12 {
  width: $icon-size-12;
  height: $icon-size-12;
  flex-shrink: 0;
}

.icon14 {
  width: $icon-size-14;
  height: $icon-size-14;
  flex-shrink: 0;
}

.icon16 {
  width: $fluid-4;
  height: $fluid-4;
  flex-shrink: 0;
}
.icon20{
  width: $fluid-5;
  height: $fluid-5;
  flex-shrink: 0;
}
.icon38 {
  width: $icon-size-38;
  height: $icon-size-38;
  flex-shrink: 0;
}
