@use '@/app/styles/variables' as *;



.todolistsWrapper{
  display: flex;
  flex-direction: column;
  gap: $fluid-4;
}

.path{
  font-size: $font-24;
}
.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($card-width, 1fr));
  gap: $fluid-4;
}

.empty{
  padding-top: $fluid-6;
  text-align: center;
}

