@use '@/app/styles/variables' as *;

.tasksWrapper {
  display: flex;
  flex-direction: column;
  gap: $fluid-6;
}
.content{
  display: flex;
  flex-direction: column;
  gap: $fluid-4;
}



.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: $fluid-8;
}

.left {
  display: flex;
  gap: $fluid-2;
}

.filterWrapper {
  display: flex;
  gap: $fluid-2;
}

.right {
  display: flex;
  gap: $fluid-2;
  margin-left: auto;
}

.tasksListWrapper {
  display: flex;
  flex-direction: column;
  min-height: $tasks-list-min-height;
  overflow: auto;
  border: 1px solid var(--border);
  border-radius: $fluid-3;
  background-color: var(--list-background);
}

.list{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.emptyNoTasks{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasksHeaderWrapper{
  display: flex;
  align-items: center;
  padding: $fluid-2 $fluid-4;
  height: $fluid-10;

  font-size: $font-14;

  border-bottom: 1px solid var(--border);
  transition: background-color 0.2s ease;
  &:hover {
    background-color: var(--popover);
  }
}

.numberWrapper{
  display: flex;
  align-items: center;
  font-size: $font-14;
  font-weight: $medium;
  flex: 0 0 $task-number-width;
  gap: $fluid-4;
}

.titleWrapper{
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  min-width:0;
}

.dateWrapper{
  display: flex;
  align-items: center;
  flex: 0 0 $task-date-width;
}

.statusWrapper{
  display: flex;
  align-items: center;
  flex: 0 0 $task-status-width;
}
.priorityWrapper{
  display: flex;
  align-items: center;
  flex: 0 0 $task-priority-width;
}

.resetWrapper{
  display: flex;
  align-items: center;
  flex: 0 0 $fluid-12;
}
