@use '@/app/styles/variables' as *;

.tasksWrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $spacing-8;
}

.left {
  display: flex;
  gap: $spacing-2;
}

.filterWrapper {
  display: flex;
  gap: $spacing-2;
}

.right {
  display: flex;
  gap: $spacing-2;
  margin-left: auto;
}

.tasksListWrapper {
  overflow: auto;
  border: 1px solid var(--border);
  border-radius: $spacing-3;
}

.tasksHeaderWrapper{
  display: flex;
  align-items: center;
  padding: $spacing-2;
  height: $spacing-10;

  font-size: $font-14;

  border-bottom: 1px solid var(--border);

}

.numberWrapper{
  display: flex;
  align-items: center;
  width: $task-number-width;
  gap: $spacing-4;
  svg {
    color: var(--muted-hint);
  }
}

.titleWrapper{
  display: flex;
  align-items: center;
  max-width: $task-title-width;
  min-width: 0;
}