@use '@/app/styles/variables' as *;

.statsContent{
  display: flex;
  flex-direction: column;
  gap: $fluid-4;
}
.introWrapper{
  display: flex;
  flex-direction: column;
  gap: $fluid-2;
}
.title{
  font-size: $font-24;
  font-weight: $regular;
}
.splitWrapper{
  display: inline-flex;
  align-items: center;
  font-size: $font-14;
  gap: $fluid-4;
}

.splitItem{
  display: inline-flex;
  align-items: center;
  color: var(--muted-hint);

  &:not(:last-child)::after {
    content: '';
    width: $sem-fluid-6;
    height: $sem-fluid-6;
    border-radius: $sem-fluid-6;
    background-color: var(--border);
    margin-left: $fluid-4;
  }
}

.lastUpdate{
  color: var(--muted-hint);
  font-size: $font-14;
}



.tasksItemWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.item{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: calc($fluid-13 - $fluid-0);
  padding: $fluid-2 $fluid-4;
  border-bottom: 1px solid var(--border);
  transition: background-color 0.2s ease;
  &:hover{
    background-color: var(--popover);
  }
}
.item[data-last="true"] {
  border-bottom: none;
}
.item[data-only="true"] {
  border-bottom: 1px solid var(--border);
}

.taskItemNumber{
  flex: 0 0 $task-number-width;
  display: flex;
  align-items: center;
  font-size: $font-14;
  gap: $fluid-3;
}

.taskItemTitle{
  flex: 1 1 auto;
  min-width:0;
  padding-left: $task-btn-padding-width;
  display: flex;
  align-items: center;
  font-size: $font-14;
}

.taskItemDate{
  flex: 0 0 $task-date-width;
  display: flex;
  align-items: center;
  padding-left: $fluid-2;
  gap: $fluid-2;
  font-size: $font-14;
}
.taskDateContent{
  display: flex;
  align-items: center;
  gap: $fluid-2;
  svg{
    color: var(--muted-hint);
  }

}
.taskDate{
  display: flex;
  align-items: center;
  gap: $fluid-1;
}


.taskItemStatus{
  flex: 0 0 $task-status-width;
  display: flex;
  align-items: center;
  padding-left: $fluid-2;
  gap: $fluid-2;

  font-size: $font-12;
}

.taskItemPriority{
  flex: 0 0 $task-priority-width;
  display: flex;
  align-items: center;
  padding-left: $fluid-2;
  gap: $fluid-2;

  font-size: $font-12;
}

.taskItemDelete{
  flex: 0 0 $fluid-11;
  display: flex;
  align-items: center;
}
.taskItemDeleteIco{
  width: $fluid-4;
  height: $fluid-4;
  color: var(--foreground);
}
