@use '@/app/styles/variables' as *;


.page{
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}


.statsContent{
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}
.title{
  font-size: $font-24;
}
.splitWrapper{
  display: inline-flex;
  align-items: center;
  font-size: $font-14;
  gap: $spacing-4;
}


.splitItem{
  display: inline-flex;
  align-items: center;
  color: var(--muted-foreground);

  &:not(:last-child)::after {
    content: '';
    width: $task-stats-dot;
    height: $task-stats-dot;
    border-radius: $task-stats-dot;
    background-color: var(--border);
    margin-left: $spacing-4;
  }
}

