@use '@/app/styles/variables' as *;

.statsContent{
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}
.introWrapper{
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}
.title{
  font-size: $font-24;
  font-weight: $regular;
}
.splitWrapper{
  display: inline-flex;
  align-items: center;
  font-size: $font-14;
  gap: $spacing-4;
}

.splitItem{
  display: inline-flex;
  align-items: center;
  color: var(--muted-hint);

  &:not(:last-child)::after {
    content: '';
    width: $task-stats-dot;
    height: $task-stats-dot;
    border-radius: $task-stats-dot;
    background-color: var(--border);
    margin-left: $spacing-4;
  }
}

.lastUpdate{
  color: var(--muted-hint);
  font-size: $font-14;
}



.tasksItemWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.item{
  display: flex;
  align-items: center;
  width: 100%;
  height: $spacing-12;
  padding: 0 $spacing-4;
  border-bottom: 1px solid var(--border);
  transition: background-color 0.2s ease;
  &:hover{
    background-color: var(--popover);
  }
}

.taskItemNumber{
  flex: 0 0 $task-number-width;
  display: flex;
  align-items: center;
  font-size: $font-14;
  gap: $spacing-3;
}

.taskItemTitle{
  flex: 1 1 auto;
  min-width:0;
  padding-left: $spacing-3;
  display: flex;
  align-items: center;
  font-size: $font-14;
  gap: $spacing-3;
}