@use '@/app/styles/variables' as *;


.popover {
  min-width: $task-status-width;
  margin-top: $fluid-1;
  background-color: var(--input);
  border: 1px solid var(--border);
  border-radius: $fluid-2;
}


.list {
  display: flex;
  flex-direction: column;

  font-size: $font-14;
}
.li{
  padding: $fluid-1;
  list-style-type: none;
}
.driver{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--border);
}

.itemDef {
  width: 100%;
  color: var(--foreground);
  display: flex;
  align-items: center;


  height: $fluid-8h;
  border-radius: $sem-fluid-6;
  padding-left: $fluid-2;
  cursor: pointer;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--accent);
  }
}

.itemDelete{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--destructive);


  height: $fluid-8h;
  border-radius: $sem-fluid-6;
  padding: $fluid-2;
  cursor: pointer;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--accent);
  }
}
.itemDeleteHint{
  display: flex;
  align-items: center;
  color: var(--muted-foreground);
  font-weight: $medium;
  &:hover {
    background-color: var(--accent);
  }

}

