@use '@/app/styles/variables' as *;

.popover {
  min-width: $task-status-width;
  margin-top: $fluid-1;

  background-color: var(--input);

  border: 1px solid var(--border);
  border-radius: $fluid-2;
}

.list {
  display: flex;
  flex-direction: column;

  font-size: $font-14;
}

.item {
  list-style: none;
  padding: $fluid-1;

  &[data-divider='true'] {
    border-top: 1px solid var(--border);
  }
}

.button {
  width: 100%;
  height: $fluid-8h;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $fluid-2;
  border-radius: $sem-fluid-6;
  color: var(--foreground);

  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--accent);
  }

  &[data-delete='true'] {
    color: var(--destructive);
  }
}

.shortcut {
  color: var(--muted-foreground);
  font-weight: $medium;
}