@use '@/app/styles/variables' as *;

.wrapperCreateForm {
  display: flex;
  flex-direction: column;
  gap: $fluid-2;
  width: 100%;
}
.hint{
  font-size: $font-14;
}

.wrapperInteractive {
  display: flex;
  gap: $fluid-4;
}

.input {
  flex: 1;
  min-width: 0;
  max-width: $todolist-input-width;
}

