@use '@/app/styles/variables' as *;

.card{
  position: relative;
  width: 100%;
  height: $card-height;
  gap: $spacing-4;
  padding: $spacing-4;

  color: var(--foreground);
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: $spacing-3;

  transition: background-color 0.2s ease, color 0.2s ease;
  &:hover{
    background-color: var(--card-hover);
  }
}


.content{
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.nameWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $card-name-margin;
  pointer-events: auto;
}

.infoWrapper{
  display: flex;
  flex-direction: column;
  gap: $spacing-11;
  font-size: $font-12;
  font-weight: $medium;
}



.statsWrapper{
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}
.statsContent{
  display: flex;
  justify-content: space-between;
}
.splitWrapper{
  display: inline-flex;
  align-items: center;
  gap: $spacing-4;
}
.splitItem{
  display: inline-flex;
  align-items: center;

  &:not(:last-child)::after {
    content: '';
    width: 1px;
    height: $spacing-2;
    background-color: var(--border);
    margin-left: $spacing-4;
  }
}

.linkArea{
  position: absolute;
  margin-top: $spacing-10;
  inset: 0;
  z-index: 1;
}